
.log__fitness {
    width: 30%;
}

.log__path {
    width: 70%;
}

.log {
    height: 86%;
    overflow: auto;
 }

.config {
    height: 86%;
    overflow-x: hidden;
    overflow-y: auto;
}

.plot {
    width: 350px;
    height: 200px;
}

.image-table {
    margin: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.cell-1 {
    background-color: white;
}

.cell1 {
    background-color: blue;
}

#training-set {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    overflow-y: scroll;
    height: 50%;
    width: 100%;
}

.sample {
    flex-shrink: 0;

    border: groove thick;
    border-radius: 5px;
    padding: 10px;

    width: 100%;
}

.display {
    font-size: large;
    padding: 10px;
}

.author {
    color: gray;
    font-size: smaller;

    position: fixed;
    left: 8px;
    bottom: 8px;
}

.input-lane {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-x: auto;

    height: 150px;
    width: 90%;
}

.input-lane__editable {
    margin: 20px;
}

.input-lane__image {
    flex-basis: 150px;
}

.input-lane-add-image {
    width: 10%;
    display: inline;
}

.input-lane-add-image__btn {
    position: relative;
    top: 50%;
}